<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/global.css"/>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <%- include('navbar') -%>
    <form class="form" action="/stays/add" method="POST">
      <div class="form-group row">
        <label for="example-text-input" class="col-2 col-form-label"
          >Name</label
        >
        <div class="col-10">
          <input
            class="form-control"
            type="text"
            id="example-text-input"
            name="name"
          />
        </div>
      </div>
      <div class="form-group row">
        <label for="example-text-input" class="col-2 col-form-label"
          >Address</label
        >
        <div class="col-10">
          <input
            class="form-control"
            type="text"
            id="example-text-input"
            name="address"
          />
        </div>
      </div>
      <div class="form-group row">
        <label for="example-date-input" class="col-2 col-form-label"
          >Check-In Date</label
        >
        <div class="col-10">
          <input
            class="form-control"
            type="date"
            value=""
            id="example-date-input"
            name="checkin_date"
          />
        </div>
      </div>
      <div class="form-group row">
        <label for="example-time-input" class="col-2 col-form-label"
          >Check-In Time</label
        >
        <div class="col-10">
          <input
            class="form-control"
            type="time"
            value=""
            id="example-time-input"
            name="checkin_time"
          />
        </div>
      </div>
      <div class="form-group row">
        <label for="example-date-input" class="col-2 col-form-label"
          >Check-Out Date</label
        >
        <div class="col-10">
          <input
            class="form-control"
            type="date"
            value=""
            id="example-date-input"
            name="checkout_date"
          />
        </div>
      </div>
      <div class="form-group row">
        <label for="example-time-input" class="col-2 col-form-label"
          >Check-Out Time</label
        >
        <div class="col-10">
          <input
            class="form-control"
            type="time"
            value=""
            id="example-time-input"
            name="checkout_time"
          />
        </div>
      </div>
      <input id="submit" type="submit" value="Add"/>
    </form>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </body>
</html>
