#content {
  display: flex;
  flex-wrap: wrap; }

.mdc-card {
  height: 50vh;
  width: 30vh;
  margin: 3rem;
  padding: 1rem; }

#addtrip {
  text-align: center;
  text-transform: uppercase;
  font-size: 40pt;
  padding-top: 5rem;
  color: grey; }

.label {
  text-align: center;
  text-transform: uppercase;
  font-size: 11pt;
  color: #5c5c5c; }
